/*
	This is the main stylesheet for the sidebar.

	The sidebar sits on the left side of the interface and houses:
		- The add / remove class buttons
		- The list of current classes
*/

//Handy mixin to generate the color gradients
@mixin gradientHelper($color){
	//background: linear-gradient(to bottom,  lighten($color, 2%) 0%, lighten($color, 1%) 50%, $color 51%, darken($color, 3%) 100%); /* W3C */
	//background: linear-gradient(to bottom,  									lighten($color, 20%) 0%, 					lighten($color, 5%) 50%, 					$color 51%, 				 darken($color, 10%) 100%); /* W3C */

	background: $color; /* Old browsers */
	background: linear-gradient(to bottom,  									lighten($color, 20%) 0%, 					lighten($color, 5%) 50%, 					$color 51%, 				 darken($color, 10%) 100%); /* W3C */
	background: -moz-linear-gradient(top,  										lighten($color, 20%) 0%, 					lighten($color, 5%) 50%, 					$color 51%, 				 darken($color, 10%) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom,  color-stop(0%, lighten($color, 20%)), 		color-stop(50%, lighten($color, 5%)), 		color-stop(51%, $color), 	color-stop(100%, darken($color, 10%))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  									lighten($color, 20%) 0%,					lighten($color, 5%) 50%,					$color 51%,					 darken($color, 10%) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  										lighten($color, 20%) 0%,					lighten($color, 5%) 50%,					$color 51%,					 darken($color, 10%) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  										lighten($color, 20%) 0%,					lighten($color, 5%) 50%,					$color 51%,					 darken($color, 10%) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(			 startColorstr='lighten($color, 20%)', 																					endColorstr='darken($color, 10%)',GradientType=0 ); /* IE6-9 */
}

#divSideBar{

	//SIZE AND POSITION
	position: relative;
	height: 100%;
	width: 208px;

	//The contents of the side bar
	.contents {
		position: absolute;
		top: 10px;
		left: 12px;
		right: 12px;
		bottom: 12px;
	}

	//the box containing the list of classes
	.classListContainer {

		//SIZE AND POSITION
		position: absolute;
		top: 25px;
		width: 100%;
		bottom: 0px;

		//STYLE
		border: 1px solid #BBB;
		background: #FFF;

		//nice inner drop shadow
		-webkit-box-shadow: inset 3px 3px 10px -2px rgba(0,0,0,0.2);
		-moz-box-shadow: inset 3px 3px 10px -2px rgba(0,0,0,0.2);
		box-shadow: inset 3px 3px 10px -2px rgba(0,0,0,0.2);

		//MISC
		overflow-y: scroll;

	}

	//the actual box containing the class names
	#divClassList {
		

		//styles for the list items themselves
		.listItem {
			cursor: pointer;

			//font not TOO dark..
			color: #333;

			//padding to avoid clutter
			padding: 4px 10px;

			border-bottom: 1px solid #FFF;

			//alternating backgrounds...
			background: #EBF4F7;
			&:nth-child(even){ background: #D6E8EF; /* #C9E9F5; */ }

			//they should look nice when hovering:
			&:hover{	background: #65C9EF; }
			&.selectedClassItem{ 	@include gradientHelper(#65C9EF);
						font-weight: bold;
						//color: #FFF;
						//text-shadow:1px 1px 1px #333333; 
					}
		}


		
	}

	//floating box to position the add/remove class buttons
	.addRemoveButtons {
		position: absolute;
		top: 0px;
		right: -2px;
		//border: 1px solid #FFF;

		//the divs that make up the buttons
		div{

			//SIZE AND POSITION
			float: right;
			width: 44px;
			height: 24px;

			//FONT SETTINGS
			color: #333;
			font-weight: bold;
			font-size: 20px;
			text-align: center;

			//MISC
			cursor: pointer;

			//STYLE
			border-top: 	1px solid #FFF;
			border-left: 	1px solid #FFF;
			border-bottom: 	1px solid #BBB;
			border-right: 	1px solid #BBB;
			
			background: #D3D1D1;

			span {
				position: relative;
				top: -2px;
			}	
		}
		div:hover {
				background: lighten( #D3D1D1, 5% );
			}
	}

}