/*
	This is the main style sheet for the "tabbed area"

	This area is complex, but includes:
		- The tabs along the top. This will be positioned with negative top values
		- The body for each tab, including source viewers for each section
		- The tab with the main editor interface
	
	This SASS document has three main areas:
		- GENERAL TAB STUFF
		- TABS
		- TAB PAGES
*/
//GENERAL TAB STUFF +++ GENERAL TAB STUFF +++ GENERAL TAB STUFF +++ GENERAL TAB STUFF +++ GENERAL TAB STUFF +++ GENERAL TAB STUFF +++ GENERAL TAB STUFF
//GENERAL TAB STUFF +++ GENERAL TAB STUFF +++ GENERAL TAB STUFF +++ GENERAL TAB STUFF +++ GENERAL TAB STUFF +++ GENERAL TAB STUFF +++ GENERAL TAB STUFF

#divTabbedArea {
	//SIZE AND POSITION
	position: absolute;
	left: 209px;
	right: 12px;
	top: -2px;
	bottom: 12px;

	//STYLE
	border: 1px solid #BBB;
	//background: #FFF;
}

//Color Schemes for tabs:
$iconEditorColor: #EFEFEF;
$iconJavaColor: #E69750;
$iconCSharpColor: #37B2D5;
$iconPythonColor: #5B84A7;
$iconRubyColor: #DA4242;
$iconPHPColor: #7575AC;
$iconJSColor: #E2D973;
$iconVBColor: #6eb0af;
$iconPerlColor: #4D93B7; //#1E81B5;
$iconCppColor: #78A8D4; //#659AC3;
$iconSwiftColor: #EF8172; //#fc9565;

//TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS
//TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS +++ TABS

//Handy mixin to generate the color gradients for the tab
@mixin tabGradient($color){

	background: $color; /* Old browsers */
	background: linear-gradient(to bottom,  									lighten($color, 35%) 0%, 					lighten($color, 15%) 50%, 					$color 51%, 				 darken($color, 10%) 100%); /* W3C */
	background: -moz-linear-gradient(top,  										lighten($color, 35%) 0%, 					lighten($color, 15%) 50%, 					$color 51%, 				 darken($color, 10%) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom,  color-stop(0%, lighten($color, 35%)), 		color-stop(50%, lighten($color, 15%)), 		color-stop(51%, $color), 	color-stop(100%, darken($color, 10%))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  									lighten($color, 35%) 0%,					lighten($color, 15%) 50%,					$color 51%,					 darken($color, 10%) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  										lighten($color, 35%) 0%,					lighten($color, 15%) 50%,					$color 51%,					 darken($color, 10%) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  										lighten($color, 35%) 0%,					lighten($color, 15%) 50%,					$color 51%,					 darken($color, 10%) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(			 startColorstr='lighten($color, 35%)', 																					endColorstr='darken($color, 10%)',GradientType=0 ); /* IE6-9 */
}


//the container for the tabs when they are in "small-mode" or "medium-mode";
#topTabsContainer.smallMode, #topTabsContainer.mediumMode {
	li {

		font-size: 12px !important;
		padding: 4px 10px 2px 4px !important;
	}

	// FUCKING MAGICAL CORNER HACK. I DON'T EVEN
	// http://jsfiddle.net/Gdqex/
	li:before {
	    border-top:12px solid #DCDCDC !important;
	}
	li:after {
	    border-top:13px solid #DCDCDC !important;
	}


	.tabIcon {
			background: url('/img/Icon_Sprites_Small.png') !important;
			height: 22px !important;
	}

	.tabLabel {
		margin-left: 3px !important;
	}

	//THE INVIDUAL TAB STYLES
	.iconEditor {	.tabIcon { 	background-position: -199px 0px !important;
					width: 19px !important; }}
	.iconJava {		.tabIcon { 	background-position: -236px 0px !important;
					width: 22px !important; }}
	.iconCSharp {	.tabIcon { 	background-position: -274px 0px !important;
					width: 29px !important; }}
	.iconPython {	.tabIcon { 	background-position: -329px 0px !important;
					width: 19px !important; }}
	.iconRuby {		.tabIcon { 	background-position: -366px 0px !important;
					width: 18px !important; }}
	.iconPHP {		.tabIcon { 	background-position: -399px 0px !important;
					width: 27px !important; }}
	.iconJS {		.tabIcon { 	background-position: -451px 0px !important;
					width: 17px !important; }}
	.iconVB {		.tabIcon { 	background-position: -485px 0px !important;
					width: 16px !important; }}
	.iconPerl {		.tabIcon { 	background-position: -517px 0px !important;
					width: 18px !important; }}
	.iconCpp {		.tabIcon { 	background-position: -553px 0px !important;
					width: 16px !important; }}
	.iconSwift {	.tabIcon { 	background-position: -586px 0px !important;
					width: 19px !important; }}
}

//medium mode only
#topTabsContainer.mediumMode {
	li {

		font-size: 14px !important;
		padding: 8px 16px 4px 8px !important;
	}

	.tabLabel {
		transform: translateY(-30%) !important;
		margin-left: 8px !important;
	}
}

//small mode only
#topTabsContainer.smallMode {

	.tabLabel {
		transform: translateY(-35%) !important;
	}
}

//the container for the tabs when they are in their "normal, large-size mode"
#topTabsContainer {

	position: absolute;
	top:-50px;
	height:50px;
	width: 100%;

	//the actual UL / LI tabs themselves
	#topTabs {
		
		list-style: none;
		position: absolute;
		bottom: -0px;

		margin:0px 0px 0px 11px !important;
		padding:0px !important;

		//so the tabs dont wrap when the window gets to small
		white-space: nowrap;

		//styles for the tab blocks themselves
		li {
			//SIZE AND POSITION OF TABS
			display: inline-block;
			//float: left;
			margin: 0px 0px 0px -1px;

			//FONT SETTINGS
			color: #FFF;
			font-size: 16px;
			font-weight: 600;
			text-shadow:1px 1px 1px #333333;

			padding: 3px 12px 0px;
			border: 1px solid #BBB;
			border-bottom: 0px none !important;

			cursor: pointer;

			position:relative; background-color:blue; 
    		border:1px solid #BBB; display: inline-block;
		}
		.selectedTab { }

		//specific tab settings..
		#tab_Editor {
			color: #444 !important;
			text-shadow:0px 1px 1px #888;
		}

		//make the icons fade slightly on hover
		li:hover{
			.tabIcon{
				-moz-opacity: 0.80;
				-khtml-opacity: 0.80;
				opacity: 0.80;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
				filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
				filter:alpha(opacity=80);
			}
		}
		// FUCKING MAGICAL CORNER HACK. I DON'T EVEN
		// http://jsfiddle.net/Gdqex/
		li:before {
		    position:absolute; right:-1px; top:-1px; content:'';
		    border-top:12px solid #BBB;
		    border-left:12px solid transparent;
		}
		li:after {
		    position:absolute; right:-2px; top:-2px; content:'';
		    border-top:13px solid #E7E7E7;
		    border-left:13px solid transparent;
		}

		//general styles for the tab labels
		.tabLabel {

			//display the div as an inline block
			display: inline-block;

			margin-left: 10px;

			// vertical text centering hack
		  	position: relative;
			top: 50%;
			transform: translateY(-50%);
		}


		//general styles for the tab icons
		.tabIcon {
			background: url('/img/Icon_Sprites.png');
			height: 36px;
			display: inline-block;
		}

		//THE INVIDUAL TAB STYLES
		.iconEditor {
			background: desaturate(lighten($iconEditorColor, 5%), 10%);
			&.activeTab, &:hover { @include tabGradient($iconEditorColor); }
			.tabIcon { 	background-position: -199px 0px;
						width: 32px; }
		}
		.iconJava {
			background: desaturate(lighten($iconJavaColor, 5%), 10%);
			&.activeTab, &:hover { @include tabGradient($iconJavaColor); }
			.tabIcon { 	background-position: -236px 0px;
						width: 32px; }
		}
		.iconCSharp {
			background: desaturate(lighten($iconCSharpColor, 5%), 10%);
			&.activeTab, &:hover { @include tabGradient($iconCSharpColor); }
			.tabIcon { 	background-position: -274px 0px;
						width: 49px; }
		}
		.iconPython {
			background: desaturate(lighten($iconPythonColor, 5%), 10%);
			&.activeTab, &:hover { @include tabGradient($iconPythonColor); }
			.tabIcon { 	background-position: -329px 0px;
						width: 31px; }
		}
		.iconRuby {
			background: desaturate(lighten($iconRubyColor, 5%), 10%);
			&.activeTab, &:hover { @include tabGradient($iconRubyColor); }
			.tabIcon { 	background-position: -366px 0px;
						width: 27px; }
		}
		.iconPHP {
			background: desaturate(lighten($iconPHPColor, 5%), 10%);
			&.activeTab, &:hover { @include tabGradient($iconPHPColor); }
			.tabIcon { 	background-position: -399px 0px;
						width: 46px; }
		}
		.iconJS {
			background: desaturate(lighten($iconJSColor, 5%), 10%);
			&.activeTab, &:hover { @include tabGradient($iconJSColor); }
			.tabIcon { 	background-position: -451px 0px;
						width: 28px; }
		}
		.iconVB {
			background: desaturate(lighten($iconVBColor, 5%), 10%);
			&.activeTab, &:hover { @include tabGradient($iconVBColor); }
			.tabIcon { 	background-position: -485px 0px;
						width: 28px; }
		}
		.iconPerl {
			background: desaturate(lighten($iconPerlColor, 5%), 10%);
			&.activeTab, &:hover { @include tabGradient($iconPerlColor); }
			.tabIcon { 	background-position: -517px 0px;
						width: 30px; }
		}
		.iconCpp {
			background: desaturate(lighten($iconCppColor, 5%), 10%);
			&.activeTab, &:hover { @include tabGradient($iconCppColor); }
			.tabIcon { 	background-position: -553px 0px;
						width: 27px; }
		}
		.iconSwift {
			background: desaturate(lighten($iconSwiftColor, 5%), 10%);
			&.activeTab, &:hover { @include tabGradient($iconSwiftColor); }
			.tabIcon { 	background-position: -586px 0px;
						width: 30px; }
		}
		

	}
}


//PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES
//PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES +++ PAGES

//Handy mixin to generate the background colors for the tab-pages
@mixin tabPageGradient($color){
	background: $color; /* Old browsers */
	background: linear-gradient(to bottom,  									darken($color, 10%) 0%, 	 			 lighten($color, 42%) 100%); /* W3C */
	background: -moz-linear-gradient(top,  										darken($color, 10%) 0%, 				 lighten($color, 42%) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,	darken($color, 10%)), 	color-stop(100%, lighten($color, 42%))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  									darken($color, 10%) 0%,					 lighten($color, 42%) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  										darken($color, 10%) 0%,					 lighten($color, 42%) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  										darken($color, 10%) 0%,					 lighten($color, 42%) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  		 startColorstr='darken($color, 10%)', 		endColorstr='lighten($color, 42%)', GradientType=0 ); /* IE6-9 */

}






//Tab Page styles...
.tabPageEditorBG { 	@include tabPageGradient($iconEditorColor); }
.tabPageJavaBG {	@include tabPageGradient($iconJavaColor); }
.tabPageCSharpBG {	@include tabPageGradient($iconCSharpColor); }
.tabPagePythonBG {	@include tabPageGradient($iconPythonColor); }
.tabPageRubyBG {	@include tabPageGradient($iconRubyColor); }
.tabPagePHPBG {		@include tabPageGradient($iconPHPColor); }
.tabPageJSBG {		@include tabPageGradient($iconJSColor); }
.tabPageVBBG {		@include tabPageGradient($iconVBColor); }
.tabPagePerlBG {	@include tabPageGradient($iconPerlColor); }
.tabPageCppBG {		@include tabPageGradient($iconCppColor); }
.tabPageSwiftBG {	@include tabPageGradient($iconSwiftColor); }

// Make sure the initial tab page is visible

// General tab page stuff
.tabPage {

	//SIZE AND POSITION
	position: absolute;
	top: 11px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	//padding: 5px;

	overflow-y: scroll;

	//STYLE
	border: 1px solid #CCC;
	background: #FFF;

	//hidden by default
	display: none;

	.hljs {
		padding: 10px! important;

		//SIZE AND POSITION
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;

		-webkit-box-shadow: inset 3px 3px 10px -2px rgba(0, 0, 0, 0.2);
	    -moz-box-shadow: inset 3px 3px 10px -2px rgba(0, 0, 0, 0.2);
	    box-shadow: inset 3px 3px 10px -2px rgba(0, 0, 0, 0.2);
	}
}


.GenHeader {

	padding: 10px;

	font-size: 14px;
	color: #555;

	label {
		font-weight: 600;
	}
	.options {
		padding: 8px 0px 2px 20px;
	}
}

#tabPage_JS {

	padding: 0px; 
	margin: 0px;

	.GenHeader {
		background: #F5FFCB;
		border-bottom: 1px solid #D9CE4B;
	}
	

}

#tabPage_VB {

	padding: 0px; 
	margin: 0px;

	.GenHeader {
		background: #CBE2E2;
		border-bottom: 1px solid #549998;
	}

}

.tabsRow {
	display: inline-block;
}